div .tools {
  display: flex;
  min-height: 10em;
  border-bottom: groove;
  border-color: #1327281d;
}

div .tools.winner {
  min-height: 0;
}

div .tools .buttons {
  padding: 1rem 2rem;
  flex: 1 0;
  display: grid;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

div .tools .buttons > h1 {
  text-align: center;
  color: #132728;
  font-weight: 300;
  margin: 0 0 -38px;
}

div .tools .buttons .btn {
  cursor: pointer;
  padding: 0.8rem 0.5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  background-color: #4dda67;
  margin: 0.2rem;
  border-width: 0px;
  width: -webkit-fill-available;
  transition: all 0.3s ease;
  text-decoration: none;
}

div .tools .buttons .btn:disabled,
div .tools .buttons .btn.type-1:disabled,
div .tools .buttons .btn.type-2:disabled {
  background-color: rgba(160, 179, 176);
  color: rgb(97, 97, 97);
  cursor: not-allowed;
}

div .tools .buttons .btn:disabled:hover,
div .tools .buttons .btn.type-1:disabled:hover,
div .tools .buttons .btn.type-2:disabled:hover {
  background-color: rgba(160, 179, 176);
  color: rgb(97, 97, 97);
  cursor: not-allowed;
}

div .tools .buttons .btn:hover {
  background-color: #35b94d;
  transition: all 0.3s ease;
}

div .tools .buttons .btn.type-1 {
  background-color: #abc149;
  transition: all 0.3s ease;
}

div .tools .buttons .btn.type-1:hover {
  background-color: #9baf41;
  transition: all 0.3s ease;
}

div .tools .buttons .btn.type-2 {
  background-color: #17e3a9;
  transition: all 0.3s ease;
}

div .tools .buttons .btn.type-2:hover {
  background-color: #13c08f;
  transition: all 0.3s ease;
}

.area {
  border-radius: 10px;
}

div .tools .chart {
  flex: 1 0;
  width: 400px;
  height: 300px;
  border-left: groove;
  border-color: #1327281d;
}

.input4 {
  height: 40px;
  color: #389949;
  border: 2px solid #5bb462;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.card.board center > h1 {
  text-align: center;
  color: #142828;
  font-weight: 300;
  margin: 40px 0px 40px;
}
.card.board {
  /* min-width: 815px; */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal.active {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-content {
  background-color: #0e2526f7;
  color: #fff;
  margin: 40vh auto;
  padding: 20px;
  border: 5px solid #389949;
  border-radius: 5px;
  width: 80%;
}

.modal-content.delete-user {
  border: 5px solid #993838;
}

.modal-content .close {
  color: rgb(204, 204, 204);
  float: right;
  font-size: 21px;
  font-weight: bold;
  transform: translate(12px, -14px);
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: rgb(119, 119, 119);
  text-decoration: none;
  cursor: pointer;
}

.modal-content p {
  text-align: center;
  font-size: 1.3rem;
}

.modal-content .buttons {
  padding: 1.5rem;
  padding-bottom: 0rem;
  display: flex;
  grid-gap: 0.5rem;
  gap: 0.5rem;
}

.modal-content .buttons .btn {
  cursor: pointer;
  padding: 1rem 0.5rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  background-color: #4dda67;
  border: 3px solid #389949;
  color: #012c08;
  margin: 0.2rem;
  width: -webkit-fill-available;
  transition: all 0.3s ease;
  text-decoration: none;
}

.modal-content .buttons .btn.delete-user {
  background-color: #da4d4d;
  border: 3px solid #993838;
}

.modal-content .buttons .btn.delete-user:hover {
  background-color: #b93535;
  border-color: #662424;
}

.modal-content .buttons .btn:hover {
  background-color: #35b94d;
  border-color: #246630;
  color: #000000;
  transition: all 0.3s ease;
}

.modal-content .buttons .btn.cancel {
  background-color: rgba(128, 128, 128, 0.3);
  border-color: grey;
  border-width: 3px;
  border: solid;
  color: rgb(161, 161, 161);
}
.modal-content .buttons .btn.cancel:hover {
  background-color: rgba(110, 110, 110, 0.3);
  border-color: rgb(108, 108, 108);
}

.modal-content .buttons .btn:disabled,
.modal-content .buttons .btn.cancel:disabled {
  background-color: rgba(160, 179, 176);
  color: rgb(97, 97, 97);
  border-color: rgb(97, 97, 97);
  cursor: not-allowed;
}

.modal-content .buttons .btn:disabled:hover,
.modal-content .buttons .btn.cancel:disabled:hover {
  background-color: rgba(160, 179, 176);
  color: rgb(97, 97, 97);
  cursor: not-allowed;
}
